.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text {
  width: 20%;
}

label {
  margin-top: 50px;
  width: 20%;
}

label button {
  background-color: #00ff00;
}
